*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.hidden {
  display: none;
  visibility: hidden; }

body {
  font-family: 'Chivo', sans-serif;
  background-color: #F0163A;
  color: white; }

a {
  color: white; }

#mike {
  position: fixed;
  top: -40px;
  left: -40px; }
  #mike img {
    transform: rotate(120deg);
    width: 40%; }

#tweet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  width: 75%;
  text-align: center;
  font-weight: 900; }
  @media screen and (max-width: 768px) {
    #tweet {
      font-size: 32px; } }

p {
  font-size: 13px;
  margin: 0;
  padding: 0 0 5px 0; }
  p small {
    font-size: 10px; }

#info {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center; }

#share {
  position: absolute;
  bottom: 15px;
  right: 15px; }
  #share .fb_iframe_widget {
    top: -4px;
    margin-right: 10px; }
  @media screen and (max-width: 768px) {
    #share {
      bottom: 0;
      right: 0;
      top: 15px;
      right: 15px; }
      #share iframe, #share div {
        display: block;
        margin-top: 10px; }
      #share .fb_iframe_widget {
        top: -10px;
        margin-right: 0;
        margin-bottom: 10px; } }
