*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.hidden {
  display: none;
  visibility: hidden; }

body {
  font-family: 'Chivo', sans-serif;
  background-color: #F0163A;
  color: white; }

a {
  color: white; }

#mike {
  position: fixed;
  top: -40px;
  left: -40px; }
  #mike img {
    transform: rotate(120deg);
    width: 40%; }

#tweet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  width: 75%;
  text-align: center;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    #tweet {
      font-size: 32px; } }

p {
  font-size: 13px;
  margin: 0;
  padding: 0 0 5px 0; }
  p small {
    font-size: 10px; }

#info {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center; }
