@import "lib/utilities.scss";

//
// Keep it clean in here. No more than three levels of indentation.

body {
  font-family: 'Chivo', sans-serif;
  background-color: #F0163A;
  color: white;
}

a {
  color: white;
}

#mike {
  position: fixed;
  top: -40px;
  left: -40px;

  img {
    transform: rotate(120deg);
    width: 40%;
  }
}

#tweet {
  @include centerer;
  font-size: 56px;
  width: 75%;
  text-align: center;
  font-weight: 900;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

p {
  font-size: 13px;
  margin: 0;
  padding: 0 0 5px 0;

  small {
    font-size: 10px;
  }
}

#info {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

#share {
  position: absolute;
  bottom: 15px;
  right: 15px;

  .fb_iframe_widget {
    top: -4px;
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    bottom: 0;
    right: 0;
    top: 15px;
    right: 15px;

    iframe, div {
      display: block;
      margin-top: 10px;
    }

    .fb_iframe_widget {
      top: -10px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
